*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  background-color: #3670c7;
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
}
body .title {
  text-align: center;
  font-size: calc(7vw + 2rem);
  font-weight: 900;
  color: rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  margin: -0.2em 0 0 0.5em;
}
body .lists {
  display: flex;
  justify-content: space-evenly;
}
body .lists .all-tasks {
  margin: 20px;
}
body .lists .all-tasks .task-list {
  font-size: 1.2rem;
  line-height: 1.7;
  list-style: circle;
  padding-left: 1.1em;
}
body .lists .all-tasks .task-list .active-list {
  font-weight: 700;
  letter-spacing: 0.5px;
}
body .lists .all-tasks .task-list .list-name {
  cursor: pointer;
}
body .lists .all-tasks .task-list .list-name:hover {
  opacity: 0.7;
}
body .lists form {
  display: flex;
}
body .lists form .btn {
  cursor: pointer;
  background: 0;
  border: 0;
  padding: 0;
  color: inherit;
}
body .lists form .btn.create {
  font-size: 1.5rem;
  font-weight: 900;
  margin-right: 0.25em;
  transition: opacity 250ms ease-in-out;
}
body .lists form .btn.create:hover {
  opacity: 0.7;
}
body .lists form .new-input {
  order: 2;
  background: transparent;
  border: 0;
  color: inherit;
  border-bottom: 1px solid currentColor;
  font-size: inherit;
  outline: none;
  padding: 0.25em;
  transition: border-bottom 250ms ease-in-out;
}
body .lists form .new-input::placeholder {
  color: currentColor;
}
body .lists form .new-input:focus {
  border-bottom-width: 3px;
}
body .lists form .new-input:focus::placeholder {
  opacity: 0.2;
}
body .lists form .new-input.list {
  font-size: 1.1rem;
}
body .lists .todo-list {
  flex-grow: 0.25;
  background: #f4f4f4;
  color: #333;
  margin: 1rem;
}
body .lists .todo-list .todo-header {
  padding: 2rem;
  background: #e4e4e4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .lists .todo-list .todo-header .todo-title {
  margin: 0 1em 0 0;
}
body .lists .todo-list .todo-header .task-count {
  margin: 0;
  font-size: 1rem;
}
body .lists .todo-list .todo-body {
  padding: 2rem;
  position: relative;
}
body .lists .todo-list .todo-body .tasks .task {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}
body .lists .todo-list .todo-body .tasks .task [type=checkbox] {
  opacity: 0;
  position: absolute;
}
body .lists .todo-list .todo-body .tasks .task::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0.75em;
  height: 1px;
  background: currentColor;
  opacity: 0.1;
}
body .lists .todo-list .todo-body .tasks .task label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-bottom: 1.25em;
  margin-right: 2em;
}
body .lists .todo-list .todo-body .tasks .task label .custom-checkbox {
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  margin-right: 0.75em;
  cursor: pointer;
  border: 2px solid currentColor;
  border-radius: 50%;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}
body .lists .todo-list .todo-body .tasks .task label::after {
  content: "";
  position: absolute;
  left: 1.5em;
  right: 0;
  height: 3px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 150ms ease-in-out;
}
body .lists .todo-list .todo-body .tasks .task:hover .custom-checkbox,
body .lists .todo-list .todo-body .tasks .task [type=checkbox]:focus + label .custom-checkbox {
  transform: scale(1.35);
  color: #3670c7;
}
body .lists .todo-list .todo-body .tasks .task [type=checkbox]:checked + label .custom-checkbox {
  background: #3670c7;
  border-color: #3670c7;
  box-shadow: inset 0 0 0px 2px white;
}
body .lists .todo-list .todo-body .tasks .task [type=checkbox]:checked + label::after {
  opacity: 1;
  transform: scaleX(1);
}
body .lists .todo-list .todo-body .tasks .task .buttons {
  align-items: center;
}
body .lists .todo-list .todo-body .tasks .task .buttons button {
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem;
  color: #3670c7;
  transition: color 200ms ease-in-out;
}
body .lists .todo-list .todo-body .tasks .task .buttons:hover {
  color: #632424;
}
body .lists .todo-list .todo-body .delete-stuff {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -35px;
}
body .lists .todo-list .todo-body .delete-stuff .btn.delete {
  cursor: pointer;
  opacity: 0.7;
  font-size: 1rem;
  color: #f4f4f4;
  background: transparent;
  border: none;
  outline: none;
  transition: color 200ms ease-in-out;
}
body .lists .todo-list .todo-body .delete-stuff .btn.delete:hover {
  color: #632424;
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .lists {
    flex-direction: column;
  }
}
@media screen and (min-width: 600px) {
  .lists {
    flex-direction: row;
  }
}

/*# sourceMappingURL=main.css.map */
