$clr-primary: rgb(54, 112, 199);
$clr-light: #f4f4f4;
$clr-dark: #333;
$clr-warning: rgb(99, 36, 36);

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  background-color: $clr-primary;
  color: $clr-light;

  display: flex;
  flex-direction: column;
  .title {
    text-align: center;
    font-size: calc(7vw + 2rem);
    font-weight: 900;
    color: rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    margin: -0.2em 0 0 0.5em;
  }
  .lists {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .all-tasks {
      .task-list {
        font-size: 1.2rem;
        line-height: 1.7;
        list-style: circle;
        padding-left: 1.1em;
        .active-list {
          font-weight: 700;
          letter-spacing: 0.5px;
        }
        .list-name {
          cursor: pointer;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
    form {
      display: flex;
      .btn {
        cursor: pointer;
        background: 0;
        border: 0;
        padding: 0;
        color: inherit;
        &.create {
          font-size: 1.5rem;
          font-weight: 900;
          margin-right: 0.25em;
          transition: opacity 250ms ease-in-out;
          &:hover {
            opacity: 0.7;
          }
        }
      }
      .new-input {
        order: 2;
        background: transparent;
        border: 0;
        color: inherit;
        border-bottom: 1px solid currentColor;
        font-size: inherit;
        outline: none;
        padding: 0.25em;
        transition: border-bottom 250ms ease-in-out;
        &::placeholder {
          color: currentColor;
        }
        &:focus {
          border-bottom-width: 3px;
          &::placeholder {
            opacity: 0.2;
          }
        }
        &.list {
          font-size: 1.1rem;
        }
      }
    }
    .todo-list {
      flex-grow: 0.25;
      $spacer: 2rem;
      background: $clr-light;
      color: $clr-dark;
      .todo-header {
        padding: $spacer;
        background: #e4e4e4;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .todo-title {
          margin: 0 1em 0 0;
        }
        .task-count {
          margin: 0;
          font-size: 1rem;
        }
      }
      .todo-body {
        padding: $spacer;
        position: relative;
        .tasks {
          .task {
            cursor: pointer;
            position: relative;
            [type="checkbox"] {
              opacity: 0;
              position: absolute;
            }
            &::after {
              content: "";
              position: absolute;
              right: 0;
              left: 0;
              bottom: 0.75em;
              height: 1px;
              background: currentColor;
              opacity: 0.1;
            }
            label {
              cursor: pointer;
              display: inline-flex;
              align-items: center;
              position: relative;
              margin-bottom: 1.25em;
              .custom-checkbox {
                $size: 0.75em;
                display: inline-block;
                width: $size;
                height: $size;
                margin-right: $size;
                cursor: pointer;
                border: 2px solid currentColor;
                border-radius: 50%;
                transform: scale(1);
                transition: transform 300ms ease-in-out;
              }
              &::after {
                content: "";
                position: absolute;
                left: 1.5em;
                right: 0;
                height: 3px;
                background: currentColor;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 150ms ease-in-out;
              }
            }
            &:hover .custom-checkbox,
            [type="checkbox"]:focus + label .custom-checkbox {
              transform: scale(1.35);
              color: $clr-primary;
            }
            [type="checkbox"]:checked + label {
              .custom-checkbox {
                background: $clr-primary;
                border-color: $clr-primary;
                box-shadow: inset 0 0 0px 2px white;
              }
              &::after {
                opacity: 1;
                transform: scaleX(1);
              }
            }
          }
        }
        .delete-stuff {
          display: flex;
          justify-content: space-evenly;
          position: absolute;
          width: 100%;
          left: 0;
          bottom: -35px;
          .btn.delete {
            cursor: pointer;
            opacity: 0.7;
            font-size: 1rem;
            color: $clr-light;
            background: transparent;
            border: none;
            outline: none;
            transition: color 200ms ease-in-out;
            &:hover {
              color: $clr-warning;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
